{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Produkty{% endif %}
{% endblock %}

{% block content %}
  <div id="main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}Produkty{% endif %}</h1>
    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <v-img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
            <div class="price-small_cont right mr-2 mt-2">
            <h3 class="body-2">{{ product.price }} zł</h3>
                </div>
            </v-img>
        </a>
        <a href="{{ product.get_absolute_url }}" class="title">{{ product.name }}</a><br>

      </div>
    {% endfor %}
  </div>
{% endblock %}
