@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;

}


h1, h2, h3, h4, h5 , h6 { 
    font-family: 'Stark', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
}


a.button, input[type="submit"] {
    color:#d6d5d2;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#d6d5d2;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse; 
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#d6d5d2;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#d6d5d2;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#d6d5d2;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0; 
   padding:0;
}

.v-navigation-drawer {
  font-family: 'Freeway Gothic'
}

.menu-head {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #d6d5d2;
    display: block;
    width: 150px;
    margin-left: 20px;
}
/*.menu-head::after {*/
    /*display: block;*/
   /*content: '';*/
  /*width: 100%;*/
  /*height: 1px;*/
  /*background: black;*/
  /*position: absolute;*/
  /*bottom: 20px;*/
  /*left: 0;*/
/*}*/


.menu-item {
  font-family: 'Stark', sans-serif !important;

}
.menu-item a:hover{
    color: #ffc107;
}
.login-btn {
    background-color: #171717;
    color: #d6d5d2;
    width: 85px;
    height: 25px;
    border-radius: 15px;
    z-index: 0;
    font-size: 10px;
    font-weight: bolder;
    cursor: pointer;
    outline:0;

}
.sign-up-btn {
    background-color: #ffc107;
    color: #171717;
    width: 85px;
    height: 25px;
    border-radius: 15px;
    z-index: 1;
    margin-left: -20px;
    font-size: 10px;
    cursor: pointer;
    outline:0;
}
.sign-up-btn a {
    cursor: pointer;
}

.total-price {
    color: #d6d5d2;
    font-family: 'Stark';
    text-decoration: none;
}

.logo_small {
    /*!*background-image: url("../img/logo_small.png");*!*/
    /*!*background-size: cover;*!*/
    /*height: 100px;*/
    /*width: 120px;*/
    padding: 10% 10% 0% 10%;
    width: 160px;
    margin-left: auto;
    margin-right: auto;

}
.logo_small img {
    width: 100%;
    height: 100%;
    opacity: .23;
}


#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

#subheader {
    background:#ececec;
    color:#444;
    padding:15px 100px;
    overflow:auto;
}

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:22px;
    margin-right:10%;
}
#wallpaper {
    background-image: url("../img/background_1.png");
    background-size: cover;
    width: 100%;
    height: 620px;
}
/*#wallpaper img {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding:0 0;
    margin-left: 30px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px; 
    overflow:hidden;
}
.logo {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    position: relative;
}
.logo img {
    width: 100%;
    height: 100%;
}

.left-menu {
    background-color:#171717 !important;
    color: #d6d5d2 !important;
}
.bright-font {
    color: #d6d5d2 !important;
}


.upper_cont {
    position: absolute;
    top: 10px;
    right: 10px;
    height: auto;
    width: auto;
}

.upper_cont form {
    display: inline-block;
}

.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
    font-family: Stark;
}
.list a h1 {
    text-transform: uppercase;
    font-family: Stark;
    color: black;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.price-small-cont {
    /*background-color: #ffc107;*/
    border-radius: 10%;
    display: inline-block;
    width: auto;
    height: auto;
    padding:5px;
    background-color: rgba(255, 193, 7, 0.5)

}
.price-small-cont h3{
    z-index: 1;
    color: #171717;
    opacity: 1;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}


#basket-thumbnail-container {

    position: relative;
    display: inline;
    float: left;
    margin-right: 5px;
    margin-top: -5px;
}

td img {
    max-height: 50px;
}

.product-list img {
    height: 190px;
    width: auto;
}

.cart {
    top:50%;
    display: inline-block;
    position: relative;
}
.v-input__control {
    font-family: Stark;
    color: #ffc107 !important;
}
.v-input__control label, input{
    font-family: Stark;
    color: #ffc107 !important;
    font-size: medium;
}

.sign-up-form {
    margin-top: 100px;
    background-color: rgba(240,239,237, 0.2);
    width: 50%;


}

@font-face {
    font-family: 'freewaygothic';
    src: url('/static/fonts/freeway_gothic/freewaygothic.eot');
    src: url('/static/fonts/freeway_gothic/freewaygothic.eot') format('embedded-opentype'),
         url('/static/fonts/freeway_gothic/freewaygothic.woff2') format('woff2'),
         url('/static/fonts/freeway_gothic/freewaygothic.woff') format('woff'),
         url('/static/fonts/freeway_gothic/freewaygothic.ttf') format('truetype'),
         url('/static/fonts/freeway_gothic/freewaygothic.svg#freewaygothic') format('svg');
}
@font-face {
    font-family: 'Futurist';
    src: url('/static/fonts/futurist_fixed_width/FUTRFW.eot');
    src: url('/static/fonts/futurist_fixed_width/FUTRFW.eot') format('embedded-opentype'),
         url('/static/fonts/futurist_fixed_width/FUTRFW.woff2') format('woff2'),
         url('/static/fonts/futurist_fixed_width/FUTRFW.woff') format('woff'),
         url('/static/fonts/futurist_fixed_width/FUTRFW.ttf') format('truetype'),
         url('/static/fonts/futurist_fixed_width/FUTRFW.svg') format('svg');
}



    @font-face {
    font-family: 'Stark';
    src: url('/static/fonts/stark2/Stark.eot');
    src: url('/static/fonts/stark2/Stark.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/stark2/Stark.woff2') format('woff2'),
        url('/static/fonts/stark2/Stark.woff') format('woff'),
        url('/static/fonts/stark2/Stark.ttf') format('truetype'),
        url('/static/fonts/stark2/Stark.svg#Stark') format('svg');
    font-weight: normal;
    font-style: normal;
}

