{% load static %}
{% load active_class %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Old Barber's Corner Club{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="app">
    <v-app id="inspire">
        <div class="left-cont">
            <v-navigation-drawer primary permanent fixed width="270px" class="left-menu hidden-sm-and-down">
                <div class="logo_small"><a href="/">
                    <img src="/static/img/logo_small.png">
                </a></div>
                <v-toolbar flat color="#171717">

                    <v-list-tile-title class="title bright-font ml-2 pt-1 pb-2">
                        MENU
                    </v-list-tile-title>
                    </v-list-tile>
                    </v-list>
                </v-toolbar>


                <div class="menu-head">
                </div>
                </v-list>


                <v-list dense class="bright-font">
                    {% for c in categories %}
                        <v-list-tile
                                class="ml-3 bright-font menu-item {% if category.slug == c.slug %} selected{% endif %}"
                                :key="'{{ c.name }}'"
                                :href="'{{ c.get_absolute_url }}'"

                        >{{ c.name }}
                            <v-list-tile-action>
                                <v-icon></v-icon>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-title></v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    {% endfor %}
                    <v-list-tile
                            :href="'{{ c.get_absolute_url }}'"
                    >

                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>
        </div>
        <div class="right-cont">
        <v-navigation-drawer>
        <v-toolbar color="#171717" class="hidden-md-and-up" @click="">
      <v-toolbar-side-icon slot="activator"></v-toolbar-side-icon>
      <v-toolbar-title>Title</v-toolbar-title>
      <v-spacer></v-spacer>
            <v-btn small fab></v-btn>
            <v-btn small fab></v-btn>
            <v-btn small fab><v-icon>create</v-icon></v-btn>
      <v-toolbar-items class="hidden-sm-and-down">
          <v-list dense class="bright-font">
                    {% for c in categories %}
                        <v-list-tile
                                class="ml-3 bright-font menu-item {% if category.slug == c.slug %} selected{% endif %}"
                                :key="'{{ c.name }}'"
                                :href="'{{ c.get_absolute_url }}'"

                        >{{ c.name }}
                            <v-list-tile-action>
                                <v-icon></v-icon>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-title></v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    {% endfor %}
                    <v-list-tile
                            :href="'{{ c.get_absolute_url }}'"
                    >
                    </v-list-tile>
                </v-list>
      </v-toolbar-items>
    </v-toolbar>
        </v-navigation-drawer>
            <v-container fluid pa-0>
                <v-layout row wrap>
                    <v-flex xs12 pa-0>

                        {% if category.slug == None %}
                            <div id="wallpaper">
                                <div class="logo">
                                    <img src="../static/img/logo.png" alt="">
                                </div>

                                {% block form %}
                                {% endblock %}
                            </div> {% endif %}

                        <div class="upper_cont">


                            <a href="{% url 'cart:cart_detail' %}">


                        <v-toolbar flat color="#171717">

                                    <v-list-tile-title class="title bright-font ml-2 pt-1 pb-2">
                                        MENU
                                    </v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-toolbar>


                            <div class="menu-head">
                                    </div>
                            </v-list>


                        <v-list dense class="bright-font">
                            {% for c in categories %}
                                <v-list-tile class="ml-3 bright-font menu-item"
                                        {% if category.slug == c.slug %}:class= "selected"{% endif %}
                                        :key="'{{ c.name }}'"
                                        :href="'{{ c.get_absolute_url }}'"

                                >{{ c.name }}
                                    <v-list-tile-action>
                                        <v-icon></v-icon>
                                    </v-list-tile-action>

                                    <v-list-tile-content>
                                        <v-list-tile-title></v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            {% endfor %}
                            <v-list-tile
                                    {#                                        :class="{% if category.slug == c.slug %}class='selected'{% endif %}"#}
                                    {#                                        :key="LOGIN"#}
                                    {#                                        @click="'{{ c.get_absolute_url }}'"#}
                                    :href="'{{ c.get_absolute_url }}'"
                            >
                                <v-list-tile-action>
                                    <v-icon></v-icon>
                                </v-list-tile-action>

                                <v-list-tile-content>
                                    <v-list-tile-title></v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-navigation-drawer>
                </v-flex>
                <v-flex xs10 pa-0>

                    {% if category.slug == None %}
                        <div id="wallpaper">
                        <div class="logo">
                            <img src="../static/img/logo.png" alt="">
                        </div>
                        {% block form %}
                                        {% endblock %}
                        </div> {% endif %}
                    {#                       <div id="wallpaper"></div>#}
                    <div class="upper_cont">
                    <span><v-icon color="#d6d5d2">
                                    shopping_cart
                                </v-icon></span>
                        <div class="cart">
                            <a href="{% url 'cart:cart_detail' %}">

                                <div class="total-price">
                                    {{ cart.get_total_price }} PLN
                                </div>
                            </a>

                            <a href="{% url 'cart:cart_detail' %}">
                                <span>
                                    <v-icon color="#d6d5d2">
                                        shopping_cart
                                    </v-icon>
                                </span>
                            </a>

                            {% if user.is_authenticated %}
                                <a href="{% url 'account:login' %}">
                                    <button class="login-btn">LOGOUT</button>
                                </a>
                            {% else %}
                                <a href="{% url 'account:login' %}">
                                    <button class="login-btn">LOGIN</button>
                                </a>

                            {% endif %}
                            <a href="{% url 'account:sign_up' %}">
                                <button class="sign-up-btn">SIGN UP</button>
                            </a>
                        </div>
                        <div id="content">
                            <v-content>
                                <v-container>
                                    {% block content %}
                                    {% endblock %}
                                </v-container>
                            </v-content>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            name: "dominik"
        },
        methods:{
            active: function(){}
        }
    });
    Vue.use(Vuetify, {
        theme: {
            primary: '#171717',
            secondary: '#b0bec5',
            accent: '#8c9eff',
            error: '#b71c1c',
            background: '#171717',
        }
    })
</script>
</body>
</html>